@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 21px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px;
}

.button-blue {
  background-color: #82b3d3;
}

.button-brown {
  background-color: #756157;
}

.button-green {
  background-color: #7db54f;
}

.button-grey {
  background-color: #f2f2f2;
}

.button-reset {
  background-color: transparent;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  padding: 0 70px;
  justify-content: space-between;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.favorite-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.button-navigation-link-user {
  text-transform: uppercase;
}

.intro {
  background-image: url('../images/background/background-hero.jpg');
  background-color: #99a5b2;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 51px 50px 81px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-heading {
  padding: 69px 270px 90px 270px;
}

.advantages-head-title {
  margin: 0 0 25px 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-head-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-card {
  display: flex;
}

.advantages-card-content {
  background-color: #82b3d3;
  width: 400px;
  padding: 92px 85px 111px 85px;
}

.advantages-card-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 62px 0;
}

.advantages-card-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.content-photo {
  width: 800px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  padding: 92px 85px 111px 85px;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 400px;
  padding: 92px 85px 111px 85px;
  background: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(even) {
  background: rgba(131, 179, 211, 0);
}

.services-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-brown-search {
  display: flex;
  background: #756157;
  border-radius: 4px;
  padding: 8px, 50px;
  }

.newsletter {
  background-image: url('../images/background/background-subscribe.jpg');
  background-color: #99a5b2;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 258px 104px 258px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF
}

.field {
  display: flex;
  padding: 12px 20px;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
}

.button-blue-newsletter {
  display: flex;
  padding: 8px 50px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}


/* main catalog */

.hotel-card-rating {
  font-weight: 400;
  color: #000000;
}

.filter-block {
  background-image: url('../images/background/filter-catalog.jpg');
  background-color: #3f5e72;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  vertical-align: top;
  color: #FFFFFF;
}

.breadcrumbs-item {
  display: flex;
  padding: 0;
  flex: none;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 50px 70px 60px;
  background-color: #FFFFFF;
}

.search-result {
  font-style: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
  color: #000000;
  padding: 50px, 70px, 60px, 70px;
  text-transform: uppercase;
}

.search-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #FFFFFF;
}

.search-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.footer-social-link {
  color: #83B3D3;
}

.control {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-image {
  width: 300px;
  padding: 16px;
}

.hotel-card-description {
  text-align: left;
}

.hotel-card-price {
  text-align: right;
  color: #333333;
}

.hotel-card-rating {
  line-height: 37px;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
}

.brown-hotel-card-button {
  display: flex;
  padding: 8px 50px;
  line-height: 36px;
  background-color: #756157;
  border-radius: 4px;
}


.pagination-link {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
  color: #ffffff;
  font-weight: 700px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
}

.pagination-link-pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.newsletter-inner {
  background-image: none;
  background-color: #ffffff;
}
