@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  font-size: 18px;
  line-height: 21px;
  font-family: "PT Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
  pointer-events: none;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68a2ca;
}

.button-blue,
.button-blue:active {
  background-color: #82b3d3;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #615048;
}

.button-brown,
.button-brown:active {
  background-color: #756157;
}

.button-green:hover,
.button-green:focus {
  background-color: #6c9e42;
}

.button-green,
.button-green:active {
  background-color: #7db54f;
}

.button-reset {
  background-color: transparent;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.page-wrapper {
  display: flex;
  flex-direction: column;

  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  padding: 0 70px;
  margin-bottom: -6px;
  position: relative;
  z-index: 1;
}

.navigation {
  display: flex;
}

.navigation-logo {
  margin-right: 28px;
}

.navigation-item {
  margin: 0 0 6px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
}

.navigation-list {
  list-style-type: none;
  margin: 0 28px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  list-style-type: none;
  justify-content: flex-end;
  width: 350px;
  margin: 0 0 0 auto;
  padding: 14px 0;
}

.favorite-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.page-header-logo {
  display: block;
  margin: 0;
  padding: 0;
}

.navigation-link-service {
  position: relative;
  display: flex;
  width: 44px;
  height: 36px;
  color: inherit;
}

.navigation-link-service::before {
  content: "";
  width: 20px;
  height: 20px;
  margin: auto;
  background-color: currentColor;
}

.navigation-link-search::before {
  -webkit-mask-image: url("../images/icons/search.svg");
  mask-image: url("../images/icons/search.svg");
}

.navigation-link-favorites::before {
  -webkit-mask-image: url("../images/icons/favorite-count.svg");
  mask-image: url("../images/icons/favorite-count.svg");
}

.count-label {
  position: absolute;
  top: -3px;
  right: 3px;
  padding: 5px;
  min-width: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
}

.navigation-link-user {
  display: block;
  width: 160px;
  margin-left: 20px;
}

.intro {
  background-image: url("../images/background/intro-overlay.svg"),
    url("../images/background/background-hero.jpg");
  background-color: #99a5b2;
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: 0 100%, 0 0;
  padding: 51px 50px 81px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-heading {
  padding: 69px 70px 90px;
  text-align: center;
}

.advantages-head-title {
  margin: 0 0 25px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-head-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.advantages-card-content {
  color: #ffffff;
  text-align: center;
  background-color: #82b3d3;
  padding: 92px 85px 111px 85px;
}

.advantages-title {
  position: relative;
  margin: 0 0 30px;
  padding-bottom: 32px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 0.3;
  transform: translateX(-50%);
}

.advantages-card-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
}

.content-photo {
  height: 100%;
  object-fit: cover;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  padding: 104px 80px 122px;
  text-align: center;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  position: relative;
  width: 400px;
  padding: 181px 85px 80px;
  text-align: center;
  background: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(even) {
  background: rgba(131, 179, 211, 0);
}

.services-item::before {
  content: "";
  position: absolute;
  top: 77px;
  left: 50%;
  width: 75px;
  height: 76px;
  background-position: 50%;
  background-repeat: no-repeat;
  transform: translateX(-50%);
}

.services-item-house::before {
  background-image: url("../images/icons/house.svg");
}

.services-item-food::before {
  background-image: url("../images/icons/food.svg");
}

.services-item-souvenir::before {
  background-image: url("../images/icons/souvenir.svg");
}

.services-title {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.search-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  margin: 0 0 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-search {
  line-height: 36px;
  font-size: 20px;
  display: table;
  min-width: 376px;
  margin: 0 auto;
  border-radius: 4px;
  padding: 8px 24px;
}

.newsletter {
  background-image: url("../images/background/background-subscribe.jpg");
  background-color: #99a5b2;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 258px 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 54px 0;
}

.field {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 14px 20px;
  font-size: 1rem;
  line-height: 24px;
  font-family: inherit;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.field::placeholder {
  color: inherit;
  opacity: 0.6;
}

.field:focus-visible,
.button-blue-newsletter:focus-visible {
  position: relative;
  z-index: 1;
}

.button-blue-newsletter {
  position: relative;
  display: flex;
  padding: 8px 50px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

/* main catalog */

.filter-block {
  min-height: 412px;
  background-image: url("../images/background/filter-catalog.jpg");
  background-color: #3f5e72;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
  color: #ffffff;
}

.inner-header-title {
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  vertical-align: top;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 10px;
  padding: 0 18px 0 0;
}

.breadcrumbs-item:nth-last-child(n + 2)::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  width: 7px;
  background-image: url("../images/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}

.breadcrumbs-link-home {
  display: block;
  width: 12px;
  height: 100%;
  background-image: url("../images/icons/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:not([href]) {
  pointer-events: none;
}

.result {
  padding: 50px 70px 60px 70px;
}

.sort-result {
  display: flex;
  margin-bottom: 40px;
}

.search {
  padding: 96px;
}

.search-result {
  margin: 7px 30px 0 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-filter {
  display: flex;
  flex-wrap: wrap;
}

.search-filter-group {
  width: 150px;
  margin: 40px 70px 0 0;
  padding: 0;
  border: none;
}

.search-filter-group-wide {
  width: 288px;
  margin-left: auto;
}

.search-filter-title {
  margin: 0 0 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.search-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-filter-item + .search-filter-item {
  margin-top: 16px;
}

.search-filter-buttons {
  display: flex;
  flex-direction: column;
  width: 191px;
  margin: 64px 0 0;
}

.search-filter-buttons .button {
  margin-top: 32px;
}

.range-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
  margin: 0;
}

.range-label {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 11px 18px;
  font-size: 1rem;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.range-label:hover {
  background-color: #e6e6e6;
}

.range-label:focus-within {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.range-label:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.range-label:nth-child(2n) {
  border-radius: 0 4px 4px 0;
}

.range-input {
  order: -1;
  width: 60px;
  font: inherit;
  font-weight: 700;
  color: #000000;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
}

.range-target {
  margin-top: 35px;
  padding-right: 20px;
}

.range-base {
  position: relative;
  height: 20px;
}

.range-base::before {
  content: "";
  position: absolute;
  top: 8px;
  right: -20px;
  bottom: 8px;
  left: 0;
  background-color: currentColor;
  opacity: 0.3;
}

.range-connect,
.range-origin {
  position: absolute;
  width: 100%;
  transform-origin: 0 0;
  transform-style: flat;
}

.range-connect {
  top: 8px;
  right: 0;
  height: 4px;
  background-color: currentColor;
}

.range-origin {
  top: 0;
  left: 100%;
}

.range-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: currentColor;
  border-radius: 5px;
  outline-offset: 0;
  cursor: pointer;
}

.range-handle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-handle:focus-visible {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-handle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 12px 48px 12px 18px;
  width: 292px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin: 0 70px 0 auto;
  background-color: transparent;
  background-image: url("../images/icons/sort-arrow.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 18px;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #68a2ca;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  border-color: currentColor;
  opacity: 0.3;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-link {
  color: #83b3d3;
}

.footer-social-link:hover,
.footer-social-link:focus-visible {
  color: #68a2ca;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-social-link::before {
  content: "";
  display: block;
  width: 48px;
  height: 41px;
  background-color: currentColor;
}

.footer-social-link-vkontakte::before {
  -webkit-mask-image: url("../images/icons/vkontakte.svg");
  mask-image: url("../images/icons/vkontakte.svg");
}

.footer-social-link-telegram::before {
  -webkit-mask-image: url("../images/icons/telegram.svg");
  mask-image: url("../images/icons/telegram.svg");
}

.footer-social-link-youtube::before {
  -webkit-mask-image: url("../images/icons/youtube.svg");
  mask-image: url("../images/icons/youtube.svg");
}

.control {
  display: flex;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-input {
  display: flex;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin: 2px 16px 0 0;
  background-color: #ffffff;
  border-radius: 4px;
  appearance: none;
  cursor: pointer;
}

.control-input::before {
  margin: auto;
  background-color: #3f5e72;
}

.control-input:checked::before {
  content: "";
}

.control-input[type="checkbox"]::before {
  width: 20px;
  height: 20px;
  -webkit-mask-image: url("../images/icons/checkbox.svg");
  mask-image: url("../images/icons/checkbox.svg");
}

.control-input[type="radio"] {
  border-radius: 50%;
}

.control-input[type="radio"]::before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px 20px;
  margin-top: auto;
}

.hotel-card-description {
  color: #333333;
}

.hotel-card-price {
  text-align: right;
  color: #333333;
}

.hotel-card-rating {
  padding: 9px 8px 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-stars {
  width: 23px;
  background-image: url("../images/icons/rating-star.svg");
  background-position: 0 50%;
  background-repeat: space;
}

.hotel-stars-2 {
  width: 46px;
}

.hotel-stars-3 {
  width: 69px;
}

.hotel-stars-4 {
  width: 92px;
}

.hotel-stars-5 {
  width: 115px;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  pointer-events: none;
}

.pagination-divider {
  color: #000000;
  background-color: #ffffff;
  pointer-events: none;
}

.newsletter-form {
  display: flex;
  width: 100%;
}

.newsletter-label {
  flex-grow: 1;
}

.newsletter-inner {
  background-image: none;
  background-color: #ffffff;
}

.newsletter-inner .newsletter-title {
  color: #000000;
}

.newsletter-inner .newsletter-description {
  color: #333333;
}

.result-direction-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.result-direction-link {
  width: 48px;
  height: 48px;
  display: block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.result-direction-link:hover,
.result-direction-link:active,
.result-direction-link-active {
  border-color: #000000;
}

.result-direction-link:focus {
  border-color: #68a2ca;
}

.button-table {
  background-image: url("../images/icons/button-table.svg");
}

.button-card {
  background-image: url("../images/icons/button-card.svg");
}

.button-list {
  background-image: url("../images/icons/button-list.svg");
}

.hotel-list {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.newsletter-button {
  width: 232px;
  padding: 8px 24px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  padding: 45px 70px 35px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 40px;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  justify-self: center;
  transform: translateX(13px); /* Pixelperfect */
}

.footer-logo-link {
  justify-self: end;
  padding-top: 4px; /* Pixelperfect */
}

.footer-link {
  color: inherit;
}

.footer-link:hover,
.footer-link:focus-visible {
  color: #756157;
}

.footer-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  overflow-y: auto;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-inner {
  position: relative;
  max-width: 717px;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus,
.modal-close:active {
  background-color: #e6e6e6;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 18px;
  width: 16px;
  height: 1.5px;
  background-color: #000000;
}

.modal-close:active::before,
.modal-close:active::after {
  opacity: 0.3;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-title {
  margin: 0 52px 65px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 23px 83px;
}

.form-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

.form-group-wide {
  grid-column: span 2;
}

.form-label {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 125px;
  margin-right: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.form-label-right-side {
  padding-left: 6px; /* Pixelperfect */
}

.form-input {
  width: calc(100% - 137px);
  padding: 10px 58px 10px 18px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  font-family: inherit;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  border-radius: 4px;
  appearance: textfield;
}

.form-input:hover,
.form-input:focus:placeholder-shown {
  background-color: #e6e6e6;
}

.form-input:focus:not(:placeholder-shown) {
  border-color: currentColor;
  outline: none;
}

.form-input::placeholder {
  color: inherit;
  opacity: 0.6;
}

.form-input-count {
  padding-right: 38px;
  padding-left: 38px;
  text-align: center;
}

.form-input::-webkit-outer-spin-button,
.form-input::-webkit-inner-spin-button {
  appearance: none;
}

.form-status {
  margin: 4px 0 0 157px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.form-error {
  color: #ff5757;
}

.form-helper {
  position: absolute;
  top: 14px;
  right: 9px;
  display: flex;
  padding: 0;
  color: rgba(117, 97, 87, 0.3);
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-helper:hover,
.form-helper:focus {
  color: #000000;
}

.form-helper:active {
  color: rgba(0, 0, 0, 0.3);
}

.form-helper::before {
  content: "";
  margin: auto;
  width: 20px;
  height: 20px;
  background-color: currentColor;
}

.form-helper-calendar {
  right: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.form-helper-calendar::before {
  -webkit-mask-image: url("../images/icons/calendar.svg");
  mask-image: url("../images/icons/calendar.svg");
}

.form-helper-step-down {
  right: 81px;
}

.form-helper-step-down::before {
  -webkit-mask-image: url("../images/icons/decrease.svg");
  mask-image: url("../images/icons/decrease.svg");
}

.form-helper-step-up::before {
  -webkit-mask-image: url("../images/icons/increase.svg");
  mask-image: url("../images/icons/increase.svg");
}

.form-button {
  grid-column: span 2;
  margin-top: 25px;
  padding: 18px;
  font-size: 20px;
  line-height: 24px;
  border-radius: 10px;
}

.form-button:active {
  background-color: #68a2ca; /* Стайлгайд */
}

.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
  margin-left: 10px;
  background-color: #83b3d3;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  top: 100%;
  left: -115px;
  transform: scale(0);
  width: 256px;
  margin-top: 15px;
  padding: 20px 18px 23px 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  cursor: default;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  height: 15px;
  bottom: 100%;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 19px;
  height: 9px;
  background-color: inherit;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text,
.tooltip:focus-within .tooltip-text {
  transform: none;
}

.modal-hidden {
  display: none;
}

/* Стили стандартных состояний */
.navigation-logo:hover,
.navigation-link:hover,
.navigation-link-service:hover,
.hotel-card-link:hover {
  opacity: 0.6;
}

.navigation-logo:active,
.navigation-link:active,
.navigation-link-service:active,
.hotel-card-link:active {
  opacity: 0.3;
}

.navigation-link:not([href]) {
  pointer-events: none;
}
