@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  margin: 0;
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 21px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px;

}

.button-blue {
  background-color: #82b3d3;
}

.button-brown {
  background-color: #756157;
}

.button-green {
  background-color: #7db54f;
}

.button-grey {
  background-color: #f2f2f2;
  cursor: default;
}

.button-reset {
  background-color: transparent;
}

.page-wrapper {
  display: flex;
  flex-direction: column;

  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  padding: 0 70px;
  margin-bottom: -6px;
  position: relative;
  z-index: 1;
}

.navigation {
  display: flex;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link:not([href])::before {
  content: "";
  position: absolute;
  right: 16px;
  bottom: -1px;
  left: 16px;
  height: 2px;
  background-color: #756257;
}

.navigation-list {
  list-style-type: none;
  margin: 0 28px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user  {
  list-style-type: none;
  margin: 0 0 0 auto;
  padding: 14px 0;
}

.favorite-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}

.page-header-logo {
  display: block;
  margin: 0;
  padding: 0;
}

.navigation-link-user {
  display: block;
  min-width: 160px;
}

.intro {
  background-image: url('../images/background/background-hero.jpg');
  background-color: #99a5b2;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 51px 50px 81px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-heading {
  padding: 69px 70px 90px;
  text-align: center;
}

.advantages-head-title {
  margin: 0 0 25px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.advantages-head-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages-card {
  display: flex;
}

.advantages-card-content {
  background-color: #82b3d3;
  width: 400px;
  padding: 92px 85px 111px 85px;
}

.advantages-card-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 62px 0;
}

.advantages-card-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.content-photo {
  width: 800px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  padding: 104px 80px;
  text-align: center;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  margin: 0 0 62px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  width: 400px;
  padding: 92px 85px 80px;
  text-align: center;
  background: rgba(131, 179, 211, 0.12);
}

.services-item:nth-child(even) {
  background: rgba(131, 179, 211, 0);
}

.services-item::before {
  content: "";
  display: block;
  margin: 0 auto 18px;
  width: 75px;
  height: 72px;
}

.services-title {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.services-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.search-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-search {
  line-height: 36px;
  font-size: 20px;
  display: table;
  margin: 54px auto 0;
  border-radius: 4px;
  padding: 8px 50px;
}

.newsletter {
  background-image: url('../images/background/background-subscribe.jpg');
  background-color: #99a5b2;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 96px 258px 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px 0;
}

.newsletter-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 54px 0;
}

.field {
  display: flex;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.button-blue-newsletter {
  display: flex;
  padding: 8px 50px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

/* main catalog */

.hotel-card-rating {
  font-weight: 400;
  color: #000000;
}

.filter-block {
  min-height: 412px;
  background-image: url('../images/background/filter-catalog.jpg');
  background-color: #3f5e72;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 70px 70px 70px;
  color: #ffffff;
}

.inner-header-title {
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  vertical-align: top;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  margin-right: 10px;
  padding: 0 18px 0 0;
  flex: none;
}

.breadcrumbs-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  width: 12px;
}

.result {
  padding: 50px 70px 60px 70px;
}

.sort-result {
  display: flex;
  margin-bottom: 40px;
}

.search {
  padding: 96px;
}

.search-result {
  margin: 5px 30px 0 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-filter {
  display: flex;
  flex-wrap: wrap;
}

.search-filter-group {
  width: 150px;
  margin: 40px 70px 0 0;
  padding: 0;
  border: none;
}

.search-filter-group-wide {
  width: 288px;
  margin-left: auto;
}

.search-filter-title {
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.search-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.search-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 191px;
  margin: 0;
}

.search-filter-buttons .button {
  margin-top: 20px;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 10px 50px 10px 20px;
  width: 292px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  height: 48px;
  margin: 0 70px 0 auto;
}

.footer-social-link {
  color: #83b3d3;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
}
.control {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px 20px;
}

.hotel-card-description {
  text-align: left;
}

.hotel-card-price {
  text-align: right;
  color: #333333;
}

.hotel-card-rating {
  padding-top: 9px;
  line-height: 20px;
  border-radius: 4px;
}

.hotel-card-link {
  text-decoration: none;
  display: block;
  margin-bottom: 16px;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-card {
  padding: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
}

.hotel-stars {
  width: 23px;
  background-image: url("../images/icons/rating-star.svg");
  background-position: 0 50%;
  background-repeat: space;
}

.hotel-stars-2 {
  width: 46px;
}

.hotel-stars-3 {
  width: 69px;
}

.hotel-stars-4 {
  width: 92px;
}

.hotel-stars-5 {
  width: 115px;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82b3d3;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-divider {
  background-color: #ffffff;
  color: #000000;
}

.newsletter-form {
  display: flex;
  width: 100%;
}

.newsletter-label {
  flex-grow: 1;
}

.newsletter-inner {
  background-image: none;
  background-color: #ffffff;
}

.newsletter-inner .newsletter-title {
  color: #000000;
}

.newsletter-inner .newsletter-description {
  color: #000000;
}

.result-direction-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
}

.result-direction-link {
  width: 48px;
  height: 48px;
  display: block;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.hotel-list {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.navigation-logo {
  margin-right: 28px;
}

.field {
  width: 100%;
}

.newsletter-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.page-footer {
  padding: 36px 70px 27px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  gap: 40px;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  justify-self: center;
  transform: translateX(13px); /* Pixelperfect */
}

.footer-logo-link {
  justify-self: end;
}

.footer-link {
  color: inherit;
}

.footer-link:hover,
.footer-link:focus-visible {
  color: #756157;
}

.footer-link:active {
  color: rgba(117, 97, 87, 0.3);
}
